{% extends 'base.html.twig' %}

{% block title %}Taldea index{% endblock %}

{% block sidebar %}{% endblock %}
{% block main %}
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
{% endblock %}

{% block body %}

    <h1>{{ "app.taldea.zerrenda" | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ "app.crud.Name" | trans }}</th>
                <th>{{ "app.crud.Enabled" | trans }}</th>
                <th>{{ "app.crud.Created" | trans }}</th>
                <th>{{ "app.crud.Updated" | trans }}</th>
                <th>{{ "app.crud.actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for taldea in taldeas %}
            <tr>
                <td>{{ taldea.id }}</td>
                <td>{{ taldea.name }}</td>
                <td>{{ taldea.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ taldea.created ? taldea.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ taldea.updated ? taldea.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-sm btn-primary" href="{{ path('taldea_edit', {'id': taldea.id}) }}">{{ 'app.crud.edit' | trans}}</a></li>
                        <li class="list-inline-item">{{ include('taldea/_delete_form.html.twig', {id:taldea.id}) }}</li>
                    </ul>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}