{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <table class="table table-active table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>{{ "Izena" }}</th>
                <th>{{ "Sortua" }}</th>
                <th>{{ "Aldatua" }}</th>
            </tr>
        </thead>
        <tbody>

        {% if folders is defined %}

            {% for f in folders %}
                <tr>
                    <th><span class="mb-4"><i class="fas fa-folder fa-1x"></i></span></th>
                    <td>{{ f.name }}</td>
                    <td>{{ f.created | date('Y-m-d') }}</td>
                    <td>{{ f.updated | date('Y-m-d') }}</td>
                </tr>
            {% endfor %}

            {% for f in files %}
                <tr>
                    <td><span class="mb-4"><i class="fas fa-user fa-1x"></i></span></td>
                    <td>{{ f.filename }}</td>
                    <td>{{ f.cTime | date('Y-m-d') }}</td>
                    <td>{{ f.mTime | date('Y-m-d') }}</td>
                </tr>
            {% endfor %}

        {% endif %}

        </tbody>
    </table>

{% endblock %}
