{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                {% for key, value in breadcrumbs %}
                    {% if loop.index == 1 %}
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">{{ "app.breadcrumb.home" | trans }}</a></li>
                    {% endif %}
                    <li class="breadcrumb-item"><a href="{{ path('dirpath', {'dirpath': "/" ~ value}) }}">{{ key }}</a></li>
                {% endfor %}

            </ol>
        </nav>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Akzioak
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                        <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#newFolderModal">{{ "app.finder.new.folder" | trans }}</a>
                        <a class="dropdown-item enableWhenSelected disabled deleteFolder" href="javascript:void(0);">{{ "app.finder.delete.folder" | trans }}</a>
                        <a id="btnRename" class="dropdown-item enableWhenSelected disabled" href="javascript:void(0);">{{ "app.finder.rename" | trans }}</a>
                    </div>
                </div>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ordena
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="{{ path('dirpath', {'dirpath':  app.request.get('dirpath'), 'orden': 'izena' }) }}">Izena</a>
                        <a class="dropdown-item" href="{{ path('dirpath', {'dirpath':  app.request.get('dirpath'), 'orden': 'created' }) }}">Sortua</a>
                        <a class="dropdown-item" href="{{ path('dirpath', {'dirpath':  app.request.get('dirpath'), 'orden': 'updated' }) }}">Aldatua</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-active table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th style="width: 2%;"></th>
                <th>{{ "Izena" }}</th>
                <th>{{ "Sortua" }}</th>
                <th>{{ "Aldatua" }}</th>
                <th style="width: 5%"></th>
            </tr>
            </thead>
            <tbody>

            {% if app.request.get('_route') == 'homepage' %}

                {% for d in homeFolders %}
                    <tr>
                        <td style="width: 2%;"><input class="selCheckbox" type="checkbox" name="seleccion" /></td>
                        <td style="width: 2%;"><a href="{{ path('dirpath', {'dirpath': currentDir ~ "/" ~ d.name}) }}"><span class="mb-4"><i class="fas fa-folder fa-1x"></i></span></a>
                        </td>
                        <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.name}) }}">{{ d.name }}</a></td>
                        <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.name}) }}">-.-.</a></td>
                        <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.name}) }}">-.-.</a></td>
                        <td style="width: 5%"></td>
                    </tr>
                {% endfor %}

            {% else %}

                {% if dirs is defined %}

                    {% for d in dirs %}
                        <tr>
                            <td style="width: 2%;"><input class="selCheckbox" type="checkbox" name="seleccion" data-oldFileName="{{ d.pathname }}" /></td>
                            <td style="width: 2%;"><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.basename}) }}"><span class="mb-4"><i
                                                class="fas fa-folder fa-1x"></i></span></a></td>
                            <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.basename}) }}">{{ d.basename }}</a></td>
                            <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.basename}) }}">{{ d.cTime | date('Y-m-d H:m:s') }}</a></td>
                            <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.basename}) }}">{{ d.mTime | date('Y-m-d H:m:s') }}</a></td>
                            <td style="width: 5%"></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if files is defined %}
                    {% for f in files %}
                        <tr>
                            <td style="width: 2%;"><input class="selCheckbox" type="checkbox" name="seleccion" data-oldFileName="{{ f.pathname }}" /></td>
                            <td style="width: 2%;"><span class="mb-4"><i class="fas fa-file fa-1x"></i></span></td>
                            <td>{{ f.filename }}</td>
                            <td>{{ f.cTime | date('Y-m-d H:m:s') }}</td>
                            <td>{{ f.mTime | date('Y-m-d H:m:s') }}</td>
                            <td style="width: 5%"><a href="{{ path('file_download', {'filePath': f.pathname}) }}"><i
                                            class="fas fa-download"></i> {{ "app.finder.download" | trans }}</a></td>
                        </tr>
                    {% endfor %}

                {% endif %}
            {% endif %}

            </tbody>
        </table>

    </div>


    <div class="row">
        <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                {{ render(controller(
                    'App\\Controller\\DefaultController::newfolder'
                )) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="modal fade" id="renameFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                {{ render(controller(
                    'App\\Controller\\DefaultController::renameFileFolder'
                )) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {
            $("#form_curdir").val("{{ app.request.get('dirpath') }}");
            $("#form_currentdir").val("{{ currentDir }}");

            $("#newFolderModal").on("shown.bs.modal", function () {
                $("#form_name").trigger("focus");
            });

            $("#nireAlert").fadeTo(3000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });

            $("#btnRename").on("click", function () {
                var sel = $("input[name='seleccion']:checked");
                $("#form_oldFilename").val($(sel[0]).data("oldfilename"));


                $("#renameFolderModal").modal();
            });

            var checkedList = 0;

            {% if app.request.get('_route') != 'homepage' %}

            $(".selCheckbox").on("change", function ( e ) {
                checkedList = $("input[name='seleccion']:checked").length;
                if ( checkedList === 1 ) {
                    $(".enableWhenSelected").removeClass("disabled");
                } else {
                    $(".enableWhenSelected").addClass("disabled");
                }
            });

            {% endif %}

        });
    </script>

{% endblock %}