{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/dropzone.css') }}">
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom div-breadcrumb">
        <nav aria-label="breadcrumb">

            <ol class="breadcrumb ">
                {% for key, value in breadcrumbs %}
                    {% if loop.index == 1 %}
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">{{ "app.breadcrumb.home" | trans }}</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('dirpath', {'dirpath': "/" ~ value}) }}">{{ key }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ path('dirpath', {'dirpath': "/" ~ value}) }}">{{ key }}</a></li>
                    {% endif %}
                {% endfor %}

            </ol>
        </nav>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    {% if canupload == true %}
                        <a id="btnUpload" class="btn btn-primary" href="javascript:void(0);" data-toggle="modal" data-target="#uploadForm">{{ "app.finder.upload" | trans }}</a>
                    {% endif %}

                    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ "app.crud.actions" | trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                        {% if canupload == true %}
                            <a class="dropdown-item {% if app.request.get('_route') == 'homepage' %} disabled {% endif %}" href="javascript:void(0);" data-toggle="modal" data-target="#newFolderModal">{{ "app.finder.new.folder" | trans }}</a>
                            <a id="btnDelete" class="dropdown-item enableWhenSelected disabled deleteFolder" href="javascript:void(0);">{{ "app.finder.delete.folder" | trans }}</a>
                            <a id="btnRename" class="dropdown-item enableWhenSelected disabled" href="javascript:void(0);">{{ "app.finder.rename" | trans }}</a>
                        {% endif %}
                        <a id="btnExport" class="dropdown-item enableWhenSelected disabled" href="javascript:void(0);">{{ "app.finder.export" | trans }}</a>

                    </div>
                </div>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ordena
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="{{ path('dirpath', {'dirpath':  app.request.get('dirpath'), 'orden': 'izena' }) }}">Izena</a>
                        <a class="dropdown-item" href="{{ path('dirpath', {'dirpath':  app.request.get('dirpath'), 'orden': 'created' }) }}">Sortua</a>
                        <a class="dropdown-item" href="{{ path('dirpath', {'dirpath':  app.request.get('dirpath'), 'orden': 'updated' }) }}">Aldatua</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th style="width: 2%;"><input id="checkAll" class="selCheckbox" type="checkbox" name="seleccion" /></th>
                <th style="width: 2%;"></th>
                <th>{{ "Izena" }}</th>
                <th>{{ "Sortua" }}</th>
                <th>{{ "Aldatua" }}</th>
                <th style="width: 5%"></th>
            </tr>
            </thead>
            <tbody>

            {% if app.request.get('_route') == 'homepage' %}

                {% for d in homeFolders %}
                    <tr>
                        <td style="width: 2%;"><input class="selCheckbox" type="checkbox" name="seleccion" /></td>
                        <td style="width: 2%;"><a href="{{ path('dirpath', {'dirpath': currentDir ~ "/" ~ d.name}) }}"><span class="mb-4"><i class="fas fa-folder fa-1x"></i></span></a>
                        </td>
                        <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.name}) }}">{{ d.name }}</a></td>
                        <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.name}) }}">-.-.</a></td>
                        <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.name}) }}">-.-.</a></td>
                        <td style="width: 5%"></td>
                    </tr>
                {% endfor %}

            {% else %}

                {% if dirs is defined %}

                    {% for d in dirs %}
                        <tr>
                            <td style="width: 2%;"><input class="selCheckbox" type="checkbox" name="seleccion" data-oldFileName="{{ d.pathname }}" data-type="folder" /></td>
                            <td style="width: 2%;">
                                <a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.basename}) }}"><span class="mb-4">
                                        <i class="fas fa-folder fa-1x"></i></span>
                                </a>
                            </td>
                            <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.basename}) }}">{{ d.basename }}</a></td>
                            <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.basename}) }}">{{ d.cTime | date('Y-m-d H:m:s') }}</a></td>
                            <td><a href="{{ path('dirpath', {'dirpath': (currentDir=="/" ? "" : currentDir) ~ "/" ~ d.basename}) }}">{{ d.mTime | date('Y-m-d H:m:s') }}</a></td>
                            <td style="width: 5%"></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if files is defined %}
                    {% for f in files %}
                        <tr>
                            <td style="width: 2%;"><input class="selCheckbox" type="checkbox" name="seleccion" data-oldFileName="{{ f.pathname }}"  data-type="file"/></td>
                            <td style="width: 2%;">
                                <a class="filedownload" href="{{ path('file_download', {'filePath': f.pathname}) }}">
                                    {% set extensioa = f.filename [-3:] %}

                                    {% if extensioa is same as 'pdf'  %}
                                        <span class="mb-4"><i class="far fa-file-pdf"></i></span>
                                    {% elseif extensioa is same as 'odt' or extensioa is same as 'doc' %}
                                        <span class="mb-4"><i class="far fa-file-alt"></i></span>
                                    {% elseif extensioa is same as 'xls' or extensioa is same as 'ods' %}
                                        <span class="mb-4"><i class="far fa-file-word"></i></span>
                                    {% elseif extensioa is same as 'xls' or extensioa is same as 'ods' %}
                                        <span class="mb-4"><i class="far fa-file-excel"></i></span>
                                    {% else %}
                                        <span class="mb-4"><i class="fal fa-file"></i></span>
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <a class="filedownload" href="{{ path('file_download', {'filePath': f.pathname}) }}">
                                    {{ f.filename  }}
                                </a>
                            </td>
                            <td>
                                <a class="filedownload" href="{{ path('file_download', {'filePath': f.pathname}) }}">
                                    {{ f.cTime | date('Y-m-d H:m:s') }}
                                </a>
                            </td>
                            <td>
                                <a class="filedownload" href="{{ path('file_download', {'filePath': f.pathname}) }}">
                                    {{ f.mTime | date('Y-m-d H:m:s') }}
                                </a>
                            </td>
                            <td style="width: 5%" class="text-center">
                                <a class="filedownload" href="{{ path('file_download', {'filePath': f.pathname}) }}">
{#                                    <i class="fas fa-download"></i> {{ "app.finder.download" | trans }}#}
                                    <i class="fas fa-download"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                {% endif %}
            {% endif %}

            </tbody>
        </table>

    </div>

    <div class="row">
        <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                {{ render(controller(
                    'App\\Controller\\DefaultController::newfolder'
                )) }}
            </div>
        </div>
    </div>

    {#RENAME#}
    <div class="row">
        <div class="modal fade" id="renameFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                {{ render(controller(
                    'App\\Controller\\DefaultController::renameFileFolder'
                )) }}
            </div>
        </div>
    </div>

    {#DELETE#}
    <div class="row" style="display: none;">
        {{ render(controller('App\\Controller\\DefaultController::deleteFileFolder')) }}
    </div>

    <div class="row">
        <div style="display: none;">
            {{ render(controller('App\\Controller\\DefaultController::export')) }}
        </div>
    </div>

    {#upload form#}
    <div class="row">
        <div class="modal fade" id="uploadForm" tabindex="-1" role="dialog" aria-labelledby="uploadForm" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ "app.crud.newFolder" | trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone" >
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "app.crud.close" | trans }}</button>
                            <button id="closeUploadModalButton" type="button" class="btn btn-sm btn-primary">{{ "app.crud.save" | trans }}</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
{#    <script type="text/javascript" src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>#}
    <script src="{{ asset('build/js/dropzone.js') }}"></script>

    <script>
        $(document).ready(function () {

            $("#checkAll").on("change", function () {
                var c = this.checked;
                $(':checkbox').prop('checked',c);
            });

            $("#closeUploadModalButton").on("click", function (e) {
                e.preventDefault();
                location.reload();
            });


            $("#form_currentdir").val("{{ currentDir }}");
            $("#form_exportcurrentdir").val("{{ currentDir }}");
            $('#form_curdir').val("{{ currentDir }}");
            $('#form_currentdir2').val("{{ currentDir }}");

            $("#newFolderModal").on("shown.bs.modal", function () {
                e.preventDefault();

                if ($(this).hasClass('disabled')) {
                    return;
                }
                $("#form_name").trigger("focus");
            });

            $("#nireAlert").fadeTo(3000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });

            $("#btnRename").on("click", function (e) {
                e.preventDefault();

                if ($(this).hasClass('disabled')) {
                    return;
                }

                var sel = $("input[name='seleccion']:checked");
                if ( length(sel)>1) {
                    alert("Fitxategi bat baino gehiago duzu aukeratuta");
                    return;
                }
                $("#form_oldFilename").val($(sel[0]).data("oldfilename"));


                $("#renameFolderModal").modal();
            });

            $("#btnExport").on("click", function (e) {
                e.preventDefault();

                if ($(this).hasClass('disabled')) {
                    return;
                }

                var files ="";
                $("input[name='seleccion']:checked").each(function () {
                    var filePath = $(this).data("oldfilename");
                    var type = $(this).data("type");

                    if ( type === "folder") {
                        filePath = filePath + "/";
                    }
                    if ( files === "") {
                        files = filePath;
                    } else {
                        files = files + "||" + filePath;
                    }
                });

                $("#form_files").val(files);

                $("#form_export").submit();

            });



            var checkedList = 0;

            {% if app.request.get('_route') != 'homepage' %}

                $(".selCheckbox").on("change", function ( e ) {
                    checkedList = $("input[name='seleccion']:checked").length;
                    if (checkedList > 1) {
                        $("#btnRename").addClass("disabled");
                    } else if ( checkedList > 0 ) {
                        $(".enableWhenSelected").removeClass("disabled");
                    } else {
                        $(".enableWhenSelected").addClass("disabled");
                    }
                });

            {% endif %}

        });
    </script>

{% endblock %}
