{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span data-feather="calendar"></span>
                Ordena
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Izena</a>
                <a class="dropdown-item" href="#">Sortua</a>
                <a class="dropdown-item" href="#">Aldatua</a>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-active table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>{{ "Izena" }}</th>
                <th>{{ "Sortua" }}</th>
                <th>{{ "Aldatua" }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if dirs is defined %}

                {% for d in dirs %}
                    <tr>
                        <td><a href="{{ path('dirpath', {'dirpath': currentDir ~ "/" ~ d.basename}) }}"><span class="mb-4"><i class="fas fa-folder fa-1x"></i></span></a></td>
                        <td><a href="{{ path('dirpath', {'dirpath': currentDir ~ "/" ~ d.basename}) }}">{{ d.basename }}</a></td>
                        <td><a href="{{ path('dirpath', {'dirpath': currentDir ~ "/" ~ d.basename}) }}">{{ d.cTime | date('Y-m-d H:m:s') }}</a></td>
                        <td><a href="{{ path('dirpath', {'dirpath': currentDir ~ "/" ~ d.basename}) }}">{{ d.mTime | date('Y-m-d H:m:s') }}</a></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if files is defined %}
                {% for f in files %}
                    <tr>
                        <td><span class="mb-4"><i class="fas fa-user fa-1x"></i></span></td>
                        <td>{{ f.filename }}</td>
                        <td>{{ f.cTime | date('Y-m-d H:m:s') }}</td>
                        <td>{{ f.mTime | date('Y-m-d H:m:s') }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

            {% endif %}

            </tbody>
        </table>

    </div>


{% endblock %}
