{% extends 'base.html.twig' %}

{% block title %}{{ "app.karpeta.zerrenda" |trans }}{% endblock %}

{% block sidebar %}{% endblock %}
{% block main %}
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
{% endblock %}

{% block body %}
    <h1>{{ "app.karpeta.zerrenda" |trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ "app.crud.Name" | trans }}</th>
                <th>{{ "app.crud.Path" | trans }}</th>
                <th>{{ "app.crud.Enabled" | trans }}</th>
                <th>{{ "app.crud.Created" | trans }}</th>
                <th>{{ "app.crud.Updated" | trans }}</th>
                <th>{{ "app.crud.actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for karpetum in karpetas %}
            <tr>
                <td>{{ karpetum.name }}</td>
                <td>{{ karpetum.path }}</td>
                <td>{{ karpetum.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ karpetum.created ? karpetum.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ karpetum.updated ? karpetum.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('karpeta_show', {'id': karpetum.id}) }}">delete</a>
                    <a href="{{ path('karpeta_edit', {'id': karpetum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}