{% extends 'base.html.twig' %}

{% block title %}Karpeta index{% endblock %}

{% block sidebar %}{% endblock %}
{% block main %}
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
{% endblock %}

{% block body %}
    <h1>Karpeta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Enabled</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for karpetum in karpetas %}
            <tr>
                <td>{{ karpetum.id }}</td>
                <td>{{ karpetum.name }}</td>
                <td>{{ karpetum.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ karpetum.created ? karpetum.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ karpetum.updated ? karpetum.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('karpeta_show', {'id': karpetum.id}) }}">show</a>
                    <a href="{{ path('karpeta_edit', {'id': karpetum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('karpeta_new') }}">Create new</a>
{% endblock %}